# See https://atom.io/docs/latest/creating-a-package#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Git Difftool'
      'submenu': [
        { 'label': 'Diff Project', 'command': 'git-difftool:diff-project' },
        { 'label': 'Diff File', 'command': 'git-difftool:diff-file' }
      ]
    ]
  }
]
